.header-bg {
    background: url(/assets/img/GRILL.JPG) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 100%;
      background-color: rgb(255, 255, 255);
      color: #fff; 
          
    font-family: 'fantasy', cursive;  
    background-color:#f67f72;
    color:white;
}
.header {
    color:#f67f72;
    margin: centre;
}
ul {
    list-style-type: none;    
}
img {
    max-height:200px;
}
.btn-mustard {
    background-color:#fac126;
    color:white;
}

.btn-ketchup {
    background-color:#f67f72;
    color:white;
}
.btn-lettuce {
    background-color:#adbf66;
    color:white;
}
.errorMessage {
    color:red;
    font-weight:bold;
}